html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.rust-logo{
    height: 20vh;
}